[flake8]
exclude = docs, test_*, .flake8, examples
max-line-length = 90
ignore =
    # line too long
    E501,
    # line before binary operator
    W503,
    # redefinition of unused function name
    F811
