project:
  type: website
  output-dir: _build
  resources:
    - examples/single-page
    - examples/pkgdown
    - examples/shiny

metadata-files:
  - api/_sidebar.yml

filters:
  - "interlinks"

interlinks:
  sources:
    python:
      url: https://docs.python.org/3/
    griffe:
      url: https://mkdocstrings.github.io/griffe/

quartodoc:
  style: pkgdown
  dir: api
  package: quartodoc
  sidebar: "api/_sidebar.yml"
  sections:
    - title: Inspection
      desc: |
        These functions Fetch and analyze python objects, including parsing docstrings.
      contents:
        - get_object
        - preview

    - title: Docstring Renderers
      desc: |
        Renderers convert parsed docstrings into a target format, like markdown.
      contents:
        - MdRenderer
        - name: MdRenderer.render
          dynamic: true
        - name: MdRenderer.render_annotation
          dynamic: true
        - name: MdRenderer.signature
          dynamic: true
        - name: MdRenderer.summarize
          dynamic: true

    - title: API Builders
      desc: |
        Builders are responsible for building documentation. They tie all the pieces
        of quartodoc together, and can be defined in your _quarto.yml config.
      contents:
        - kind: auto
          name: Builder
          members: []
        - Builder.build
        - Builder.do_blueprint
        - Builder.do_collect
        - Builder.do_summarize
        - Builder.write_index
        - Builder.write_doc_pages


    - title: Inventory links
      desc: |
        Inventory files map a functions name to its corresponding url in your docs.
        These functions allow you to create and transform inventory files.
      contents:
        - create_inventory
        - convert_inventory

    - title: Data models
      desc: |
        Classes for specifying the exact layout of your docs.
      contents:
        - kind: "page"
          path: "layouts"
          flatten: true
          contents:
            - name: layout.Layout
              dynamic: true
            - layout.Section
            - layout.Page
            - layout.Auto
            - name: layout.Doc
              members: []
            - layout.DocFunction
            - layout.DocAttribute
            - layout.DocModule
            - layout.DocClass
            - layout.Link
            - layout.Item
            - layout.SectionElement
            - layout.ContentElement


website:
  title: "quartodoc"
  page-navigation: true
  navbar:
    left:
      - file: get-started/overview.qmd
        text: Get Started
      - file: examples/
        text: Examples
      - href: api/
        text: Reference
    right:
      - icon: github
        href: https://github.com/machow/quartodoc/
  sidebar:
    - id: get-started
      title: Get Started
      style: floating
      align: left
      contents:
        - get-started/overview.qmd
        - section: "Basics"
          contents:
            - get-started/basic-docs.qmd
            - get-started/crossrefs.qmd
            - get-started/interlinks.qmd
            - get-started/sidebar.qmd
            - get-started/extending.qmd
        - section: "Advanced"
          contents:
            - get-started/advanced-overview.qmd
            - get-started/docstrings.qmd
            - get-started/renderers.qmd
        - section: "Extra Topics"
          contents:
            - get-started/architecture.qmd


format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
